<div class="product-search">

    <form action="/action_page.php">
        <input name="firstname" type="text">
        <input list="browsers" name="browser" placeholder="All categories">
        <datalist id="browsers">
            <option value="Men">
            <option value="Women">
            <option value="Blog">
            <option value="Clothes">
            <option value="Footwear">
            <option value="Bags">
        </datalist>
        <input type="submit" value="Search">
    </form>

</div>