<div class="quick-links">
    <div class="holder">
        <ul>
            <li>
                <a>Go quickly to</a>
            </li>
            <li>
                <a href="#a">Women</a>
            </li>
            <li>
                <a href="#a">Men</a>
            </li>
            <li>
                <a href="#a">Accessories</a>
            </li>
            <li>
                <a href="#a">Fashion</a>
            </li>
            <li>
                <a href="#a">Features</a>
            </li>
            <li>
                <a href="#a">Clothing</a>
            </li>
            <li>
                <a href="#a">Bags and Wallets</a>
            </li>
            <li>
                <a href="#a">Fragrances</a>
            </li>
            <li>
                <a href="#a">Caps & Hats</a>
            </li>
        </ul>
    </div>
</div>