.quick-links {
  display: table;
  width: 100%;
  margin-bottom: 50px;

  ul {
    li {
      display: inline;
      a{
        color: $topColumn;
      }
      a:hover{
        color: red;
      }
    }

    li:after {
      content: ':';
      margin-left: 10px;
      margin-right: 10px;
    }

    li:last-child:after {
      content: none;
    }

    li:first-child:after {
      content: url("../../images/next.png");
    }

    li:first-child:hover{
      a{
        color: $topColumn;
      }
    }
  }
}