<div class="top-block">
    <div class="holder">
        <div class="fast-list">
            <ul>
                <li>
                    <a>Go quickly to</a>
                </li>
                <li>
                    <a href="#">Women</a>
                </li>
                <li>
                    <a href="#">Men</a>
                </li>
                <li>
                    <a href="#">Accessories</a>
                </li>
                <li>
                    <a href="#">Fashion</a>
                </li>
                <li>
                    <a href="#">Features</a>
                </li>
                <li>
                    <a href="#">Clothing</a>
                </li>
                <li>
                    <a href="#">Bags and Wallets</a>
                </li>
                <li>
                    <a href="#">Fragrances</a>
                </li>
                <li>
                    <a href="#">Caps & Hats</a>
                </li>
            </ul>
        </div>
        <div class="flex-container">
            <div id="first">
                <img src="../../images/category_banner_1.png">
                <h2>clothes</h2>
                <a href="#"><h3>Click here</h3></a>
            </div>
            <div id="second">
                <img src="../../images/category_banner_2.png">
                <h2>footwear</h2>
                <a href="#"><h3>Click here</h3></a>
            </div>
            <div id="third">
                <img src="../../images/category_banner_3.png">
                <h2>hand bags</h2>
                <a href="#"><h3>Click here</h3></a>
            </div>
        </div>
    </div>
</div>