<div class="top-block">
    <div class="holder">
        <div class="fast-list">
            <ul>
                <li>
                    <a>Go quickly to</a>
                </li>
                <li>
                    <a>Women</a>
                </li>
                <li>
                    <a>Men</a>
                </li>
                <li>
                    <a>Accessories</a>
                </li>
                <li>
                    <a>Fashion</a>
                </li>
                <li>
                    <a>Features</a>
                </li>
                <li>
                    <a>Clothing</a>
                </li>
                <li>
                    <a>Bags and Wallets</a>
                </li>
                <li>
                    <a>Fragrances</a>
                </li>
                <li>
                    <a>Caps & Hats</a>
                </li>
            </ul>
        </div>
        <div class="flex-container">
            <div id="first">
                <img src="../../images/category_banner_1.png">
                <h2>clothes</h2>
                <h3>Click here</h3>
            </div>
            <div id="second">
                <img src="../../images/category_banner_2.png">
                <h2>footwear</h2>
                <h3>Click here</h3>
            </div>
            <div id="third">
                <img src="../../images/category_banner_3.png">
                <h2>hand bags</h2>
                <h3>Click here</h3>
            </div>
        </div>
    </div>
</div>