.top-block{
  .row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
  }
  .column {
    @include top_columns;

    float: left;
    padding: 15px 0;
    width: 33%;
    text-transform: uppercase;
    border: 1px solid $border;
    border-left: none;

    a {
      color: $topColumn;
    }

    a:hover {
      color: $topColumn;
    }
  }
}