<div class="top-block">
    <div class="holder">
        <div class="fast-list">
            <ul>
                <li>
                    <a>Go quickly to</a>
                </li>
                <li>
                    <a href="#a">Women</a>
                </li>
                <li>
                    <a href="#a">Men</a>
                </li>
                <li>
                    <a href="#a">Accessories</a>
                </li>
                <li>
                    <a href="#a">Fashion</a>
                </li>
                <li>
                    <a href="#a">Features</a>
                </li>
                <li>
                    <a href="#a">Clothing</a>
                </li>
                <li>
                    <a href="#a">Bags and Wallets</a>
                </li>
                <li>
                    <a href="#a">Fragrances</a>
                </li>
                <li>
                    <a href="#a">Caps & Hats</a>
                </li>
            </ul>
        </div>
        <div class="flex-container">
            <div id="first">
                <img src="../../images/category_banner_1.png">
                <h2>clothes</h2>
                <a href="#a"><h3>Click here</h3></a>
            </div>
            <div id="second">
                <img src="../../images/category_banner_2.png">
                <h2>footwear</h2>
                <a href="#a"><h3>Click here</h3></a>
            </div>
            <div id="third">
                <img src="../../images/category_banner_3.png">
                <h2>hand bags</h2>
                <a href="#a"><h3>Click here</h3></a>
            </div>
        </div>
    </div>
</div>