<div class="for-men">
    <div class="holder">
        <div class="section-header">
            <h2>men</h2>
        </div>
        <div class="slider">
            <div class="arrows">
                <ul>
                    <li>
                        <a href="#a" class="next"><img src="../../images/arrow_right_smaller.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#a" class="prev"><img src="../../images/arrow left_smaller.png" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="mask">
                <ul>
                    <li>
                        <div class="men-row active">
                            <div class="col left">
                                <img src="../../images/banner-men.png">
                                <h2>for men</h2>
                                <a href="#a"><h3>more</h3></a>
                            </div>
                            <div class="col right">
                                <div class="col">
                                    <a href="#a"><img src="../../images/product_men_1.png"></a>
                                    <div class="head">
                                        <a href="#a"><h2>Printed Chiffon Dress</h2></a>
                                    </div>
                                    <div class="body">
                                        <h3>£ 61.19</h3>
                                        <a href="#a"><h4>Add to cart</h4></a>
                                        <ul>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pusta.png">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <a href="#a"><img src="../../images/product_men_2.png"></a>
                                    <div class="head">
                                        <a href="#a"><h2>Printed Chiffon Dress</h2></a>
                                    </div>
                                    <div class="body">
                                        <h3>£ 61.19</h3>
                                        <a href="#a"><h4>Add to cart</h4></a>
                                        <ul>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pusta.png">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="men-row">
                            <div class="col left">
                                <img src="../../images/banner-men.png">
                                <h2>for men</h2>
                                <a href="#a"><h3>more</h3></a>
                            </div>
                            <div class="col right">
                                <div class="col">
                                    <a href="#a"><img src="../../images/product_men_1.png"></a>
                                    <div class="head">
                                        <a href="#a"><h2>Printed Chiffon Dress</h2></a>
                                    </div>
                                    <div class="body">
                                        <h3>£ 61.19</h3>
                                        <a href="#a"><h4>Add to cart</h4></a>
                                        <ul>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pusta.png">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <a href="#a"><img src="../../images/product_men_2.png"></a>
                                    <div class="head">
                                        <a href="#a"><h2>Printed Chiffon Dress</h2></a>
                                    </div>
                                    <div class="body">
                                        <h3>£ 61.19</h3>
                                        <a href="#a"><h4>Add to cart</h4></a>
                                        <ul>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pelna.png">
                                            </li>
                                            <li>
                                                <img src="../../images/gwiazda_pusta.png">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <script>
        function slideGallery() {
            debugger;
            var slideGallery = document.querySelector('.slider'); // slider div container
            var slidesList = slideGallery.querySelector('ul'); // slides ul list
            var slideItems = slideGallery.querySelectorAll('ul li'); // slides li elements
            var slidesNumber = slideItems.length;
            var slidesWidth = slideItems[0].offsetWidth; // getting width by first element
            var currentSlide = 0; // active slide indicator

            // lets set our slides ul width by slides number;
            var slidesListWidth = slidesWidth * slidesNumber;
            slidesList.style.width = slidesListWidth + "px";

            // default state, slide[0] active;
            setPosition();
            autoSlide();
            // delay();

            // slide to next
            function slideLeft() {
                if (currentSlide < slidesNumber - 1) { // -1 cause our first element has index [0]
                    currentSlide++;
                }
                else {
                    currentSlide = 0;
                }
                setPosition();
            }

            // slide to prev
            function slideRight() {
                if (currentSlide != 0) {
                    currentSlide--;
                }
                else {
                    currentSlide = slidesNumber - 1; // -1 cause our first element has index [0]
                }
                setPosition();
            }

            // set slides list position
            function setPosition() {
                var offset = currentSlide * slidesWidth * -1 + 'px';
                slidesList.style.marginLeft = offset;
                setActiveClass();
            }

            // set active class for slide element
            function setActiveClass() {
                // reset all active classes
                for (item of slideItems) {
                    item.classList.remove('active');
                }

                // set active class
                slideItems[currentSlide].classList.add('active');
            }

            function autoSlide() {
                setTimeout(slideLeft(), 3000);
            }

            function delay() {
                $(document).ready(function () {
                    $('.content').hide();
                    $('.content').delay(2000).fadeIn(500);
                });
            }

            // adding buttons event handlers
            slideGallery.querySelector('.next').addEventListener("click", function (event) {
                event.preventDefault();
                slideLeft();
            });
            slideGallery.querySelector('.prev').addEventListener("click", function (event) {
                event.preventDefault();
                slideRight();
            });
        }


        window.onload = function () {
            // slide gallery
            slideGallery();
        };

    </script>