<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<div class="top-menu">
    <div class="row">
        <div class="column">
            <a>free shipping on all order</a>
        </div>
        <div class="column">
            <a>100% money back guarantee</a>
        </div>
        <div class="column">
            <a>online support 24/7</a>
        </div>
    </div>
    <div class="holder">
        <div id="logo-line">
            <div class="logo">
                <a href="#a">
                    <img src="../../images/logo.png">
                </a>
            </div>
            <div class="search-engine">

                <form action="/action_page.php">
                    <input name="firstname" type="text">
                    <input list="browsers" name="browser" placeholder="All categories">
                    <datalist id="browsers">
                        <option value="Men">
                            <option value="Women">
                                <option value="Blog">
                                    <option value="Clothes">
                                        <option value="Footwear">
                                            <option value="Bags">
                    </datalist>
                    <input type="submit">
                </form>

            </div>
            <div class="socials">
                <ul>
                    <li><a href="#"><img src="../../images/facebook.png" alt="facebook"></a></li>
                    <li><a href="#"><img src="../../images/twitter.png" alt="twitter"></a></li>
                    <li><a href="#"><img src="../../images/instagram.png" alt="instagram"></a></li>
                    <li><a href="#"><img src="../../images/youtube.png" alt="youtube"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab">
        <div class="holder">
            <button class="tablinks" onclick="openCity(event, 'London')">Home</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Shop</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Features</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Mega Group</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">About</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Blog</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Contact</button>
            <button class="tablinks last" onclick="openCity(event, 'Tokyo')">Shopping Cart (0)</button>
        </div>
    </div>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace("active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</div>