@import "../../style/partials/mixins";
@import "../../style/partials/variables";

.top-menu {
  #logo-line {
    display: table;
    width: 100%;

    .main-logo {
      padding: 25px;
      background: #fff;
      float: left;
      margin-right: 50px;
      position: absolute;
    }

    .product-search {
      float: left;
      margin-top: 40px;
      padding-right: 0;
      margin-bottom: 41px;
      border: 1px solid $border;
      margin-left: 305px;
      font-weight: lighter;
      color: $darker-words;

      input[list=browsers] {
        font-size: 15px;
        padding: 5px 15px;
        width: 163px;
        border: none;
      }

      input[type=text] {
        font-size: 15px;
        width: 250px;
        padding: 13px 28px;
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-color: $border;
      }

      input[type=submit] {
        font-size: 15px;
        padding: 13px 28px;
        background: $red;
        color: #fff;
      }

      ul {
        li {
          @include top_columns;

          display: inline;
        }

        li:first-child:after {
          content: "|";
          margin-left: 240px;
          margin-right: 30px;
        }

        li:nth-child(2):after {
          content: url("../../images/rozwinięcie.png");
          margin-left: 40px;
          margin-right: 30px;
        }

        li:nth-child(3) {
          padding: 22px 30px;
          background: $red;
        }

        li:nth-child(3):hover {
          background: red;
        }
      }
    }
    .socials {
      margin: 52px 0;
      ul {
        li {
          display: inline;
          border: 1px solid #696969;
          border-radius: 200px;
          padding: 14px 14px;
        }
        li:first-child {
          padding: 14px 17px;
        }
      }
    }
  }
}
