<div class="blog-box">
    <div class="holder">
        <div class="box">
            <div class="section-header">
                <h2>from the blog</h2>
            </div>
            <div class="blog-gallery">
                <div class="col">
                    <img src="../../images/blog_1.png">
                    <h2>Curabitur ligulasapien</h2>
                    <p>Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio
                        eu lacus. Curabitur malesuada erat </p>
                </div>
                <div class="col">
                    <img src="../../images/blog_2.png">
                    <h2>Curabitur ligulasapien</h2>
                    <p>Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio
                        eu lacus. Curabitur malesuada erat </p>
                </div>
                <div class="col">
                    <img src="../../images/blog_3.png">
                    <h2>Curabitur ligulasapien</h2>
                    <p>Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio
                        eu lacus. Curabitur malesuada erat </p>
                </div>
            </div>
        </div>
    </div>
</div>