<div class="footer-box">
    <div class="main-footer">
        <div class="holder">
            <div class="row_footer">
                <div class="column_footer left">
                    <img src="../../images/logo.png">
                    <p>Vestibulum sagittis, nisl nec pellen
                        <br>tesque suscipit, arcu nisi maximus
                        <br>neque, vitae finibus erat odio eu
                        <br>Curabitur malesuada erat
                        <br>eros, quis dignissim dui accumsan
                        <br>id. Cras non imperdiet metus. Sed
                        <br>nec turpis nec.</p>
                </div>
                <div class="column_footer right">
                    <div class="sign_bar">

                        <div class="col_left">
                            <a>Sign up for our newsletter</a>
                        </div>

                        <form action="/action_page.php">
                            <input name="firstname" type="text" placeholder="hello@psdfreebies.com">
                            <input type="submit" placeholder="Submit">
                        </form>
                        
                    </div>
                    <div class="row_footer">
                        <div class="column_inside">
                            <h2>information</h2>
                            <ul>
                                <li>
                                    <a href="#a">Careers</a>
                                </li>
                                <li>
                                    <a href="#a">Investor Relations</a>
                                </li>
                                <li>
                                    <a href="#a">Press Releases</a>
                                </li>
                                <li>
                                    <a href="#a">Shop with Points</a>
                                </li>
                            </ul>
                        </div>
                        <div class="column_inside">
                            <h2>Customer care</h2>
                            <ul>
                                <li>
                                    <a href="#a">Returns</a>
                                </li>
                                <li>
                                    <a href="#a">Shipping info</a>
                                </li>
                                <li>
                                    <a href="#a">Gift Cards</a>
                                </li>
                                <li>
                                    <a href="#a">Size Guide</a>
                                </li>
                            </ul>
                        </div>
                        <div class="column_inside">
                            <h2>Store information</h2>
                            <ul>
                                <li>address: Lorem ipsum dolor sit amet, Onsectetuer adipiscing elit.</li>
                                <li>email: demo@posthemes.com</li>
                                <li>phone: 0987.654.321</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>© 2015 Psdfreebies. All Rights Reserved</h2>
</div>