<div class="footer-nav">
    <div class="column_footer right">
        <div class="row_footer">
            <div class="column_inside">
                <h2>information</h2>
                <ul>
                    <li>
                        <a href="#a">Careers</a>
                    </li>
                    <li>
                        <a href="#a">Investor Relations</a>
                    </li>
                    <li>
                        <a href="#a">Press Releases</a>
                    </li>
                    <li>
                        <a href="#a">Shop with Points</a>
                    </li>
                </ul>
            </div>
            <div class="column_inside">
                <h2>Customer care</h2>
                <ul>
                    <li>
                        <a href="#a">Returns</a>
                    </li>
                    <li>
                        <a href="#a">Shipping info</a>
                    </li>
                    <li>
                        <a href="#a">Gift Cards</a>
                    </li>
                    <li>
                        <a href="#a">Size Guide</a>
                    </li>
                </ul>
            </div>
            <div class="column_inside">
                <h2>Store information</h2>
                <ul>
                    <li>address: Lorem ipsum dolor sit amet, Onsectetuer adipiscing elit.</li>
                    <li>email: demo@posthemes.com</li>
                    <li>phone: 0987.654.321</li>
                </ul>
            </div>
        </div>
    </div>
</div>