.slider {
  width: 100%;
  overflow: hidden;
  position: relative;

  .mask {
    width: 100%;
    height: 485px;
    overflow: hidden;
    position: relative;
  }

  ul {
    width: 99999px !important;
    float: left;
    transition: margin-left 500ms ease-in-out;

    li {
      float: left;
    }
  }
}