<div class="top-gallery">
    <div class="slider">
        <a class="arrow-left" href="#">
            <img src="../../images/arrow_left.png">
        </a>
        <div class="mask">
            <ul>
                <li>
                    <div class="content">
                        <h4>new!</h4>
                        <h3>Collection 2016</h3>
                        <h2>for</h2>
                        <p>men & women</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h4>new!</h4>
                        <h3>Collection 2016</h3>
                        <h2>for</h2>
                        <p>men & women</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h4>new!</h4>
                        <h3>Collection 2016</h3>
                        <h2>for</h2>
                        <p>men & women</p>
                    </div>
                </li>
            </ul>
        </div>
        <a class="arrow-right" href="#">
            <img src="../../images/arrow_right.png">
        </a>
    </div>

</div>

<script>
    function slideGallery() {
        var slideGallery = document.querySelector('.slider'); // slider div container
        var slidesList = slideGallery.querySelector('ul'); // slides ul list
        var slideItems = slideGallery.querySelectorAll('ul li'); // slides li elements
        var slidesNumber = slideItems.length;
        var slidesWidth = slideItems[0].offsetWidth; // getting width by first element
        var currentSlide = 0; // active slide indicator

        // lets set our slides ul width by slides number;
        var slidesListWidth = slidesWidth * slidesNumber;
        slidesList.style.width = slidesListWidth + "px";

        // default state, slide[0] active;
        setPosition();
        autoSlide();
        // delay();

        // slide to next
        function slideLeft() {
            if (currentSlide < slidesNumber - 1) { // -1 cause our first element has index [0]
                currentSlide++;
            }
            else {
                currentSlide = 0;
            }
            setPosition();
        }

        // slide to prev
        function slideRight() {
            if (currentSlide != 0) {
                currentSlide--;
            }
            else {
                currentSlide = slidesNumber - 1; // -1 cause our first element has index [0]
            }
            setPosition();
        }

        // set slides list position
        function setPosition() {
            var offset = currentSlide * slidesWidth * -1 + 'px';
            slidesList.style.marginLeft = offset;
            setActiveClass();
        }

        // set active class for slide element
        function setActiveClass() {
            // reset all active classes
            for (item of slideItems) {
                item.classList.remove('active');
            }

            // set active class
            slideItems[currentSlide].classList.add('active');
        }

        // adding buttons event handlers
        slideGallery.querySelector('.arrow-right').addEventListener("click", function (event) {
            event.preventDefault();
            slideLeft();
        });
        slideGallery.querySelector('.arrow-left').addEventListener("click", function (event) {
            event.preventDefault();
            slideRight();
        });
    }


    window.onload = function () {

        // slide gallery
        slideGallery();

    };

</script>