<div class="for-women">
    <div class="holder">
        <div class="section-header">
            <h2>women</h2>
        </div>
        <div class="arrows">
            <ul>
                <li>
                    <a href="#a"><img src="../../images/arrow_right_smaller.png" alt=""></a>
                </li>
                <li>
                    <a href="#a"><img src="../../images/arrow left_smaller.png" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="men-row">
            <div class="col right">
                <div class="col">
                    <a href="#a"><img src="../../images/product_women_1.png"></a>
                    <div class="head">
                        <a href="#a"><h2>Printed Chiffon Dress</h2></a>
                    </div>
                    <div class="body">
                        <h3>£ 61.19</h3>
                        <a href="#a"><h4>Add to cart</h4></a>
                        <ul>
                            <li>
                                <a href="#a"><img src="../../images/gwiazda_pelna.png"></a>
                            </li>
                            <li>
                                <a href="#a"><img src="../../images/gwiazda_pelna.png"></a>
                            </li>
                            <li>
                                <a href="#a"><img src="../../images/gwiazda_pelna.png"></a>
                            </li>
                            <li>
                                <a href="#a"><img src="../../images/gwiazda_pelna.png"></a>
                            </li>
                            <li>
                                <a href="#a"><img src="../../images/gwiazda_pusta.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <a href="#a"><img src="../../images/product_women_2.png"></a>
                    <div class="head">
                        <a href="#a"><h2>Printed Chiffon Dress</h2></a>
                    </div>
                    <div class="body">
                        <h3>£ 61.19</h3>
                        <a href="#a"><h4>Add to cart</h4></a>
                        <ul>
                            <li>
                                <a href="#a"><img src="../../images/gwiazda_pelna.png"></a>
                            </li>
                            <li>
                                <a href="#a"><img src="../../images/gwiazda_pelna.png"></a>
                            </li>
                            <li>
                                <a href="#a"><img src="../../images/gwiazda_pelna.png"></a>
                            </li>
                            <li>
                                <a href="#a"><img src="../../images/gwiazda_pelna.png"></a>
                            </li>
                            <li>
                                <a href="#a"><img src="../../images/gwiazda_pusta.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col left">
                <img src="../../images/banner_women.png">
                <h2>for women</h2>
                <a href="#a"><h3>Click here</h3></a>
            </div>
        </div>
    </div>
</div>