<div class="for-women">
    <div class="holder">
        <div class="section-header">
            <h2>women</h2>
        </div>
        <div class="arrows">
            <ul>
                <li>
                    <img src="../../images/arrow_right_smaller.png" alt="">
                </li>
                <li>
                    <img src="../../images/arrow left_smaller.png" alt="">
                </li>
            </ul>
        </div>
        <div class="men-row">
            <div class="col right">
                <div class="col">
                    <img src="../../images/product_women_1.png">
                    <div class="head">
                        <h2>Printed Chiffon Dress</h2>
                    </div>
                    <div class="body">
                        <h3>£ 61.19</h3>
                        <h4>Add to cart</h4>
                        <ul>
                            <li>
                                <img src="../../images/gwiazda_pelna.png">
                            </li>
                            <li>
                                <img src="../../images/gwiazda_pelna.png">
                            </li>
                            <li>
                                <img src="../../images/gwiazda_pelna.png">
                            </li>
                            <li>
                                <img src="../../images/gwiazda_pelna.png">
                            </li>
                            <li>
                                <img src="../../images/gwiazda_pusta.png">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <img src="../../images/product_women_2.png">
                    <div class="head">
                        <h2>Printed Chiffon Dress</h2>
                    </div>
                    <div class="body">
                        <h3>£ 61.19</h3>
                        <h4>Add to cart</h4>
                        <ul>
                            <li>
                                <img src="../../images/gwiazda_pelna.png">
                            </li>
                            <li>
                                <img src="../../images/gwiazda_pelna.png">
                            </li>
                            <li>
                                <img src="../../images/gwiazda_pelna.png">
                            </li>
                            <li>
                                <img src="../../images/gwiazda_pelna.png">
                            </li>
                            <li>
                                <img src="../../images/gwiazda_pusta.png">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col left">
                <img src="../../images/banner_women.png">
                <h2>for women</h2>
                <h3>Click here</h3>
            </div>
        </div>
    </div>
</div>