<div class="top-block">
    <div class="holder">
        <div class="flex-container">
            <div id="first">
                <img src="../../images/category_banner_1.png">
                <h2>clothes</h2>
                <a href="#a"><h3>Click here</h3></a>
            </div>
            <div id="second">
                <img src="../../images/category_banner_2.png">
                <h2>footwear</h2>
                <a href="#a"><h3>Click here</h3></a>
            </div>
            <div id="third">
                <img src="../../images/category_banner_3.png">
                <h2>hand bags</h2>
                <a href="#a"><h3>Click here</h3></a>
            </div>
        </div>
    </div>
</div>