@import "variables";

@mixin top_columns {
    font-size: $font-body;
    color: $topColumn;
    word-spacing: 1px;
    text-align: center;
}

@mixin gotham_medium {
    font-family: "Gotham Light", serif;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

@mixin category_img {
    font-family: "Gotham Medium", serif;
    color: #fff;

    h2 {
        font-size: 28px;
        text-transform: uppercase;
        position: relative;
        margin-top: -51%;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 15px;
        background: #db3838;
        padding: 12px 36px;
        font-weight: lighter;
        position: relative;
        width: fit-content;
        left: 31%;
    }

    h3:hover{
        background: red;
    }
}

@mixin footer_ul {
    color: $darker-words;
    text-align: left;

    h2{
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
    }

    ul{
        li{
            display: block;
            line-height: 30px;
            font-weight: lighter;
        }
    }
}

@mixin header {
    width: fit-content;
    padding-bottom: 10px;
    padding-right: 70px;
    border-bottom: 1px solid #6b6b6b;
    color: #444;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 35px;
}

@mixin blog-gallery {
    
}