<div class="nav-bar">
    <div class="tab">
        <div class="holder">
            <button class="tablinks" onclick="openCity(event, 'London')">Home</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Shop</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Features</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Mega Group</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">About</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Blog</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Contact</button>
            <button class="tablinks last" onclick="openCity(event, 'Tokyo')">Shopping Cart (0)</button>
        </div>
    </div>
</div>