<div class="goods-block">
    <div class="holder">
        <div class="section-header">
            <ul>
                <li><h2>new arrivals</h2></li>
                <li><h2>best sellers</h2></li>
                <li><h2>pupular</h2></li>
            </ul>
        </div>
        <div class="arrows">
            <ul>
                <li>
                    <img src="../../images/arrow_right_smaller.png" alt="">
                </li>
                <li>
                    <img src="../../images/arrow left_smaller.png" alt="">
                </li>
            </ul>
        </div>
        <div class="men-row">

            <div class="col">
                <img src="../../images/arrival_1.png">
                <div class="head">
                    <h2>Printed Chiffon Dress</h2>
                </div>
                <div class="body">
                    <h3>£ 61.19</h3>
                    <h4>Add to cart</h4>
                    <ul>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pusta.png">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <img src="../../images/arrival_2.png">
                <div class="head">
                    <h2>Printed Chiffon Dress</h2>
                </div>
                <div class="body">
                    <h3>£ 61.19</h3>
                    <h4>Add to cart</h4>
                    <ul>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pusta.png">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <img src="../../images/arrival_3.png">
                <div class="head">
                    <h2>Printed Chiffon Dress</h2>
                </div>
                <div class="body">
                    <h3>£ 61.19</h3>
                    <h4>Add to cart</h4>
                    <ul>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pusta.png">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <img src="../../images/arrival_4.png">
                <div class="head">
                    <h2>Printed Chiffon Dress</h2>
                </div>
                <div class="body">
                    <h3>£ 61.19</h3>
                    <h4>Add to cart</h4>
                    <ul>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pelna.png">
                        </li>
                        <li>
                            <img src="../../images/gwiazda_pusta.png">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>