<div class="topGallery">

    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="../../images/banner top.png" style="width:100%">
            <div class="content">
                <div class="local-holder">
                    <a href="#a"><h4>new!</h4></a>
                    <a href="#a"><h3>Collection 2016</h3></a>
                    <a href="#a"><h2>for</h2></a>
                    <a href="#a"><p>men & women</p></a>
                </div>
            </div>
        </div>

        <div class="mySlides fade">
            <img src="../../images/banner top.png" style="width:100%">
            <div class="content">
                <div class="local-holder">
                    <a href="#a"><h4>new!</h4></a>
                    <a href="#a"><h3>Hand Bags 2017</h3></a>
                    <a href="#a"><h2>for</h2></a>
                    <a href="#a"><p>men & women</p></a>
                </div>
            </div>
        </div>

        <div class="mySlides fade">
            <img src="../../images/banner top.png" style="width:100%">
            <div class="content">
                <div class="local-holder">
                    <a href="#a"><h4>new!</h4></a>
                    <a href="#a"><h3>Footwear 2015</h3></a>
                    <a href="#a"><h2>for</h2></a>
                    <a href="#a"><p>men & women</p></a>
                </div>
            </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)" href="#a">
            <img src="../../images/arrow_left.png" alt="arrow_left">
        </a>
        <a class="next" onclick="plusSlides(1)" href="#a">
            <img src="../../images/arrow_right.png" alt="arrow_right">
        </a>

    </div>


</div>
