<div class="topGallery">
    <div class="slider">
        <a class="arrow-left" href="#">
            <img src="../../images/arrow_left.png">
        </a>
        <div class="mask">
            <ul>
                <li>
                    <div class="content">
                        <h4>new!</h4>
                        <h3>Collection 2016</h3>
                        <h2>for</h2>
                        <p>men & women</p>
                    </div>
                </li>
                <!-- <li>
                    <div class="content">
                        <h4>new!</h4>
                        <h3>Collection 2016</h3>
                        <h2>for</h2>
                        <p>men & women</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h4>new!</h4>
                        <h3>Collection 2016</h3>
                        <h2>for</h2>
                        <p>men & women</p>
                    </div>
                </li> -->
            </ul>
        </div>
        <a class="arrow-right" href="#">
            <img src="../../images/arrow_right.png">
        </a>
    </div>

</div>

<script>
   

</script>